<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gentop.ltgame.ltgameui">

    <application>
        <activity
            android:name="com.gentop.ltsdk.ltsdkui.widget.activity.LoginActivity"
            android:theme="@style/CustomTheme_Dialog" />



    </application>

</manifest>
