<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gentop.ltgame.ltgameui">

    <application>
        <activity
            android:name="com.gentop.ltsdk.ltsdkui.widget.activity.LoginActivity"
            android:theme="@style/CustomTheme_Dialog" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

    </application>

</manifest>
